{% extends "base.html" %}
{% block title %}LogIn{% endblock %}

{% block main %}
        <center>
            <div class="hide-on-small-only"><br><br><br><br><br><br><br><br><br><br><br><br><br></div>
            <div class="center container xor transparent">
                <div class="row section">
                    <div class="center">
                        <form class="col s12" method="post">
                            {% csrf_token %}
                            <div class='row'>
                                <div class='col s12'>
                                    <div class="illustration">
                                        <div style="display: none" id="errors" class="alert red-text">Username or password incorrect</div>
                                    </div>
                                </div>
                            </div>

                            <div class='row'>
                                <div class='input-field col s12 m6'>
                                    <i class=" black-textio darken-3 material-icons prefix">mail</i>
                                    <input class='validate' type='email' name='email' id='email' required="" />
                                    <label class="white-text" for="email" data-error="C'mon, use a legit email" data-success="Ok, the email seems legit">Email</label>
                                </div>
                                <div class='input-field col s12 m6'>
                                    <i class="black-textio darken-3 material-icons prefix">enhanced_encryption</i>
                                    <input class='validate' type='password' name='password' id='password' required="" />
                                    <label class="white-text" for='password' data-error="Password is too weak">Enter your password</label>
                                </div>
                            </div>
                            <br />
                            <center>
                                <div class='row'>
                                    <a href="sign-up" class='btn btn-medium waves-effect grey darken-3'>Register</a>
                                    <button id="go" type='submit' name='btn_login' class='btn btn-medium waves-effect grey darken-3'>Login</button>
                                </div>
                            </center>
                        </form>
                    </div>
                </div>
            </div>
        </center>
{% endblock %}
   {% block javascript %}
   {% load static %}
    <script type="text/javascript" src="{% static 'assets/js/index.js' %}"></script>
{% endblock %}
