.glass {
    opacity: 0.9;
}

.glass:hover {
    opacity: 1;
}


/*Testing CSS*/

.logo {
    padding-right: 10px;
}


.header-top {
    border-bottom: 1px solid #e8e6e6;
    background-color: #FFF;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #f8f8f8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

main {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.list-group-item img {
    width: 100%;
}

.img-div img {
    width: 100%;
}

.img-div {
    margin-bottom: 40px;
    border: 1px solid #e8e6e6;
}

.img-div .header {
    width: 100%;
    height: 50px;
    position: relative;
}

.img-div .header .img-circle {
    width: 35px;
    height: 35px;
    margin: 8px;
}

.img-div .header a {
    padding: 15px 15px;
    color: #322f30;
    float: left;
}

.img-div .header a i {
    font-size: 18px;
}

@media (max-width:767px) {
    .img-container {
        margin-top: 10px;
        width: 100% !important;
    }
}

.img-container {
    margin-top: 10px;
    width: 600px;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
}

.more-section {
    width: 100%;
    min-height: 50px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.more-section label {
    padding: 0px 15px;
}

.more-section p {
    padding: 0px 15px;
    color: #3a3939;
}

.form-error-message {}

.login-clean form .btn-primary:hover,
.login-clean form .btn-primary:active {
    background: #4f34f2;
}

.empty-upload-container {
    width: 100%;
    height: auto !important;
    background-color: #e8e7e7;
    position: relative;
    min-height: 200px;
    max-height: 500px;
}

.empty-upload-container h1 {
    color: #6a6a6a;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 365px;
    top: 30%;
}

.empty-upload-container h2 {
    color: #6a6a6a;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 285px;
    top: 44%;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

.upload-options {
    padding: 15px 10px;
    float: left;
    width: 25%;
    text-align: center;
}

.more-section a {
    color: #1e1d1d;
    /*font-weight:bold;*/
}

.more-section a:hover {
    color: #420176;
    /*font-weight:bold;*/
}

.upload-button,
.follow-button {
    width: 25%;
    padding: 5px 0px;
    float: left;
    margin: 4px 0px;
    background: #474ef4;
    border: none;
    border-radius: 4px;
    padding: 11px;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    outline: none !important;
}

.upload-button:hover,
.upload-button:active,
.follow-button:hover,
.follow-button:active {
    background: #4f34f2 !important;
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #4f34f2 !important;
}

.btn-primary.active,
.btn-primary:active {
    background-color: #4f34f2 !important;
    border: none;
}

.btn-primary:focus,
.btn-primary:hover {
    background-color: #4f34f2 !important;
    background-position: 0 -15px;
}

.upload-options.small i {
    font-size: 22px;
}

.upload-options.small {
    padding: 14px;
}

.upload-photo-options {
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 49px;
    background-color: #FFF;
    border: 1px solid #e8e6e6;
    display: none;
    z-index: 10;
}

.upload-photo-options h1 {
    color: #CCC;
    text-align: center;
    font-size: 18px;
}

.effect {
    width: 125px;
    margin: -2px 5px;
    height: 100px;
    float: left;
    display: inline;
}

.effect label {
    text-align: center;
    width: 100%;
}

.upload-options-disabled {
    width: 100%;
    height: 50px;
    position: absolute;
    background-color: #FFF;
    /*    z-index: 100;*/
    opacity: 0.4;
}

grayscale:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.invert:hover {
    -webkit-filter: invert();
    filter: invert();
}

.grayscale:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.effect img {
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.blur:hover {
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.mirror:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.flip:hover {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.effect:hover {
    cursor: pointer;
}

.menu-buttons {
    position: absolute;
    top: 5px;
    right: 0px;
}

.menu-buttons button {
    margin-left: 5px;
    background-color: #FFF;
    background-image: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.menu-buttons button:hover {
    background-color: #FFF;
}

.menu-buttons button:active,
.menu-buttons button:focus {
    background-color: #FFF !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.menu-buttons button i {
    font-size: 18px;
}

.menu-buttons button i:hover {
    color: #2c08ba;
}

.menu-buttons button:first-child {}

.top-menu-logo {
    width: 600px;
    margin: 0px auto;
    position: relative;
}

@media (max-width:767px) {
    .top-menu-logo {
        width: auto !important;
        margin: 0px auto;
        position: relative;
    }
}

#upload-div,
.photo-viewer {
    width: auto;
    height: auto;
    position: absolute;
    background-color: #ffffff;
    z-index: 10;
    display: none;
    /*box-shadow:2px 0px 12px #CCC;*/
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    position: fixed
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
    position: fixed;
    z-index: 2;
    display: none;
    opacity: 0.94;
    overflow: hidden;
}

.uploader-grey-button .uploadcare--widget__button_type_open {
    background: none;
    color: #666;
    margin-top: 10px;
    cursor: pointer;
}

.uploadcare--widget__text {
    font-size: 15px !important;
}

.uploadcare--widget__button uploadcare--widget__button_type_cancel {
    font-size: 18px !important;
}

.uploadcare--widget__button {
    font-size: 18px !important;
    display: inline;
    position: absolute;
    right: 0px;
    top: 18px;
}

.needsclick {
    font-size: 34px !important;
    display: inline;
    position: inherit;
}

.uploadcare--progress_type_canvas {
    color: #3401ca;
}

.profile-imgs {}

.profile-imgs img {
    width: 24%;
    margin: 0.5%;
}

.profile-imgs div div {
    width: 290px;
    height: 290px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0.4%;
    position: relative;
    cursor: pointer;
}

@media (max-width:991px) {
    .profile-imgs div div {
        width: 49%;
        height: 290px;
        /*background-image:url(../../assets/img/homeimg2.jpeg);*/
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        display: inline-block;
        margin: 0.3%;
    }
}

@media (max-width:767px) {
    .profile-imgs div div {
        width: 99%;
        height: 290px;
        /*background-image:url(../../assets/img/homeimg2.jpeg);*/
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        display: inline-block;
        margin: 0.5%;
    }
}

@media (max-width:1199px) {
    .profile-imgs div {
        width: 900px;
        display: block;
        margin: 0px auto;
    }
}

@media (min-width:1200px) {
    .profile-imgs div {
        width: 900px;
        display: block;
        margin: 0px auto;
    }
}

@media (max-width:991px) {
    .profile-imgs div {
        width: 100%;
        display: block;
        margin: 0px auto;
    }
}

@media (max-width:767px) {
    .profile-imgs div {
        width: 300px;
        display: block;
        margin: 0px auto;
    }
}

.follow-button {
    margin: 0px !important;
    float: none !important;
    width: 100px !important;
}

@media (max-width:991px) {
    .photo-viewer {
        position: fixed;
        width: 100% !important;
        min-height: 200px;
        margin: 0 auto;
        left: 0;
        right: 0;
        height: auto;
        top: 50px;
    }
}

@media (max-width:767px) {
    .photo-viewer {
        position: fixed;
        width: 100% !important;
        min-height: 200px;
        margin: 0 auto;
        left: 0;
        right: 0;
        height: auto;
        top: 50px;
    }
}

.photo-viewer {
    position: fixed;
    width: 600px;
    min-height: 200px;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: auto;
    top: 50px;
}

.profile-imgs .overlay:hover {
    width: 100%;
    height: 100%;
    background-color: #212121;
    margin: 0px;
    opacity: 0.4;
    position: absolute;
}

.card .card-image img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 300px;
}

.card label {
    color: white !important;
    background-color: #f44336;
    padding: 10px;
    border-radius: 10px;
    padding-right: 30px;

}

.card-content p {
    color: white !important;
}

.hidden-xs.more-section a {
    width: 30%;
}

.save-photo {
    margin: 10px 30px 20px !important;
    height: 50px;
    max-width: 400px;
    display: block;
    position: inherit;
    top: 10px;
}

.card .card-image .card-title {
    right: 18px !important;
    bottom: -48px !important;
    left: unset !important;
}

img#previewimg {
    -o-object-fit: scale-down;
    object-fit: scale-down;
}

/*removing shar edges from cards*/
.card,
#card {
    border-radius: 20px !important;
}

/*well the above code wasnt enough.. lol*/
.card .card-image img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

/*admit it, this look cool*/
.card .card-reveal {
    background-color: #282828db !important;
}

/*preventing zoom on ios devices*/
input {
    font-size: 16px !important;
    color: white;
}

/*fixing the backgrounf image for tiny screens
this is a temp bg, will be removed eventualy*/
body {
    background-position: top;
    background-size: inherit;
    height: 100%;
}

/*i though it would be cool to make the icons circular*/
.black-textio {
    color: rgba(0, 0, 0, 0.87) !important;
    padding: 7px;
    background-color: aliceblue;
    border-radius: 50%;
    margin: -10px;
    top: 15px;
}

/*centering the login form*/
.center.container.xor.transparent {
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
